:root {
  --sidebar-width: 20%;
  --sidebar-min-width: 250px;
  --component-bg-color: #f3f4f6;
  --component-color: #374151;
}


:export{
  componentColor: #374151;
  componentBgColor: #f3f4f6;
  gray38: rgba(0, 0, 0, 0.38);
}

.app {
  height: 100%;
}

.app-wrapper {
  display: grid;
  column-gap: 25px;
  grid-template-columns: var(--sidebar-width) 1fr;
  height: 100%;
  height: 100vh;
}

.container {
  background-color: var(--component-bg-color);
  padding: 1em;
  border-radius: 0.25rem;
  margin: 1em;
}

body, html {
  font-family: 'Poppins', sans-serif;
  background-color: #d1d5db;
  margin:0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}


.loader {
  width: 25px;
  height: 25px;
  border: 4px solid #374151;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin-left: 1em;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}